body{
  background: #6f42c1 ;
  color:#ecf0f1;
  margin: 20px;
  padding: 10px;
  background-image: url("trad.jpg");
}
.uno{
  float: left;
  width: 300px;
}
.dos{
  float: left;
  width:200px;
  padding:10px;
  color:  #212f3d ;
  background-color:  #f7f9f9 ;
  opacity: 0.6;
}
.tres{
  float: right;
  width: 300px;
}
h1{
  text-align: center;
}
.button{
  background-color: #212f3d;

}